@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

/////////////////////////////////////////
// COLORS VARIABLES
$color-primary-white: hsl(0, 0%, 100%);
$color-primary-light-yellow-green: hsla(0, 0%, 100%, 0.7);
$color-primary-dark: hsl(0, 0%, 0%);
$color-primary-midnight-blue: hsla(0, 0%, 0%, 0.3);
$color-primary-very-dark-gray: hsl(0, 0%, 15%);
$color-primary-dim-gray: hsl(0, 0%, 41%);
$color-primary-medium-dark-gray: hsl(0, 0%, 34%);
$color-primary-laser-lemon: hsla(0, 0%, 100%, 0.4);

/////////////////////////////////////////
// CSS RESET
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  min-height: 100vh;
}