@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

/////////////////////////////////////////
// COLORS VARIABLES
$color-primary-white: hsl(0, 0%, 100%);
$color-primary-light-yellow-green: hsla(0, 0%, 100%, 0.7);
$color-primary-dark: hsl(0, 0%, 0%);