.button-container {
  border: 2px solid $color-primary-dark;
  padding: 10px;
  border-radius: 7px;
  box-shadow: insert 0 20px 4px -19px $color-primary-light-yellow-green;;
}

button {
  cursor: pointer;
  outline: none;
  width: 120px;
  height: 75px;
  font-family: 'Barlow', sans-serif;
  font-size: 25px;
  color: $color-primary-white;
}