.button-container {
  border: 2px solid $color-primary-dark;
  padding: 10px;
  border-radius: 7px;
  box-shadow: insert 0 20px 4px -19px $color-primary-light-yellow-green;;
}

button {
  cursor: pointer;
  outline: none;
  width: 120px;
  height: 75px;
  font-family: 'Barlow', sans-serif;
  font-size: 25px;
  color: $color-primary-white;
  text-shadow: 0 2px 5px $color-primary-dark;
  background: linear-gradient(to top, $color-primary-dim-gray, $color-primary-medium-dark-gray);
  border: 2px solid $color-primary-dark;
  border-radius: 7px;
  box-shadow: insert 0 20px 4px -19px $color-primary-light-yellow-green, 0 12px 12px 0 $color-primary-midnight-blue;
}

button:hover {
  background: linear-gradient(to bottom, $color-primary-dim-gray, $color-primary-medium-dark-gray);
}

button:active {
  transform: translateY(3px);
  box-shadow: 0 6px 6px 0 $color-primary-midnight-blue;
}